dify-chatflows/刑法助手.yml
app:
  description: ''
  icon: ⚖️
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 刑法助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@77274df8fe2632cac66bfd153fcc75aa5e96abbe92b5c611b8984ad9f4cd4457
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 500
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: '您好，我是您的法律智能助手，专注于刑法领域的信息支持。


      您可以通过以下方式使用：


      1. 对话：与助手进行一般性对话。

      2. 查询：获取相关刑法案例的案情描述和判决信息（需要增加“查询：”前缀）。'
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 案例：贵州省毕节市七星关区 2015年 聂某 聚众斗殴
    - 案例：燃放烟花爆竹引发森林火灾
    - 法条：抢劫
    - 法条：未成年人犯罪
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 17470323582560-source-1747033246486-target
      selected: false
      source: '17470323582560'
      sourceHandle: source
      target: '1747033246486'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1747033246486-source-1747032716728-target
      selected: false
      source: '1747033246486'
      sourceHandle: source
      target: '1747032716728'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17470343902300-source-17470347491360-target
      selected: false
      source: '17470343902300'
      sourceHandle: source
      target: '17470347491360'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1714456604511-source-1747372792101-target
      selected: false
      source: '1714456604511'
      sourceHandle: source
      target: '1747372792101'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1747372792101-false-17470343902300-target
      selected: false
      source: '1747372792101'
      sourceHandle: 'false'
      target: '17470343902300'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1747372792101-true-1747373305245-target
      selected: false
      source: '1747372792101'
      sourceHandle: 'true'
      target: '1747373305245'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1747373305245-source-17470323582560-target
      selected: false
      source: '1747373305245'
      sourceHandle: source
      target: '17470323582560'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1747372792101-acc47a23-5bbf-4c02-bc40-f1fae4527a9b-17476442132060-target
      source: '1747372792101'
      sourceHandle: acc47a23-5bbf-4c02-bc40-f1fae4527a9b
      target: '17476442132060'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 17476442132060-source-17476442798000-target
      source: '17476442132060'
      sourceHandle: source
      target: '17476442798000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 17476442798000-source-17476442947240-target
      source: '17476442798000'
      sourceHandle: source
      target: '17476442947240'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 17476442947240-source-17476443706710-target
      source: '17476442947240'
      sourceHandle: source
      target: '17476443706710'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 53
      id: '1714456604511'
      position:
        x: 30
        y: 286.5
      positionAbsolute:
        x: 30
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - zpdviJ/03kHErBsCro4Pg7vsMdSpjIH/Ze8LDCdagvWudpOL2htqfvwOqxI8Oywx
        desc: ''
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: bge-reranker-v2-m3
            provider: langgenius/openai_api_compatible/openai_api_compatible
          score_threshold: null
          top_k: 5
        query_variable_selector:
        - '1747373305245'
        - retrieval_query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: Doubao-Pro-32k
            provider: volcengine_maas
        title: 检索案例
        type: knowledge-retrieval
      height: 91
      id: '17470323582560'
      position:
        x: 942
        y: 286.5
      positionAbsolute:
        x: 942
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '检索到如下案例：


          {{#1747033246486.result#}}'
        desc: ''
        selected: false
        title: 返回案例信息
        type: answer
        variables: []
      height: 121
      id: '1747032716728'
      position:
        x: 1550
        y: 286.5
      positionAbsolute:
        x: 1550
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(hits) -> dict:\n    formatted_cases = []\n    \n    for i,\
          \ hit in enumerate(hits, 1):\n        content = hit[\"content\"]\n     \
          \   \n        # Split content and JSON parts\n        parts = content.split('\\\
          n\\n')\n        case_text = parts[0]\n        case_json_str = parts[1] if\
          \ len(parts) > 1 else \"\"\n        \n        # 解析JSON字符串\n        import\
          \ json\n        try:\n            case_json = json.loads(case_json_str)\n\
          \            \n            # 提取相关字段\n            criminal = case_json.get(\"\
          criminal\", \"未知\")\n            accusations = \"、\".join(case_json.get(\"\
          accusation\", [\"未知\"]))\n            articles = \"、\".join([str(article)\
          \ for article in case_json.get(\"relevant_articles\", [\"未知\"])])\n    \
          \        \n            # 处理刑期\n            imprisonment = case_json.get(\"\
          imprisonment\", 0)\n            if imprisonment == -1:\n               \
          \ imprisonment_text = \"无期徒刑\"\n            elif imprisonment == -2:\n \
          \               imprisonment_text = \"死刑\"\n            elif imprisonment\
          \ > 12:\n                years = imprisonment // 12\n                months\
          \ = imprisonment % 12\n                if months == 0:\n               \
          \     imprisonment_text = f\"{years} 年\"\n                else:\n      \
          \              imprisonment_text = f\"{years} 年 {months} 个月\"\n        \
          \    else:\n                imprisonment_text = f\"{imprisonment} 个月\"\n\
          \                \n            # 处理罚金\n            money = case_json.get(\"\
          punish_of_money\", 0)\n            money_text = f\"{money} 元\" if money\
          \ > 0 else \"无\"\n            \n            # 格式化案例\n            case_formatted\
          \ = (\n                f\"**案例 {i}**\\n\"\n                f\"罪犯：{criminal}\\\
          n\"\n                f\"罪名：{accusations}\\n\"\n                f\"相关法条：{articles}\\\
          n\"\n                f\"刑期：{imprisonment_text}\\n\"\n                f\"\
          罚金：{money_text}\\n\"\n                f\"案情描述：\\n{case_text}\"\n       \
          \     )\n            \n        except json.JSONDecodeError:\n          \
          \  # 如果JSON解析失败，使用原始格式\n            case_formatted = (\n               \
          \ f\"案例 {i}\\n\"\n                f\"案情描述：\\n{case_text}\\n\\n\"\n     \
          \           f\"判决信息：\\n{case_json_str}\"\n            )\n            \n\
          \        formatted_cases.append(case_formatted)\n    \n    context = \"\\\
          n\\n\".join(formatted_cases)\n    return {\"result\": context} "
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 排版案例信息
        type: code
        variables:
        - value_selector:
          - '17470323582560'
          - result
          variable: hits
      height: 53
      id: '1747033246486'
      position:
        x: 1246
        y: 286.5
      positionAbsolute:
        x: 1246
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: Qwen2.5-72B-Instruct
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 8dfbe783-52f1-4210-9899-e952da5ed717
          role: system
          text: 你是一名法律智能助手，接受一般的法律咨询。请确保你的回答准确、专业且易于理解。请避免使用过于复杂的法律术语，除非你确定对方能够理解。在回答问题时，尽量提供具体的法律建议或解释相关法律规定。
        selected: false
        title: 生成一般回复
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '17470343902300'
      position:
        x: 643.949897980104
        y: 561.4219808693239
      positionAbsolute:
        x: 643.949897980104
        y: 561.4219808693239
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#17470343902300.text#}}'
        desc: ''
        selected: false
        title: 返回一般回复
        type: answer
        variables: []
      height: 105
      id: '17470347491360'
      position:
        x: 947.2515925718415
        y: 561.4219808693239
      positionAbsolute:
        x: 947.2515925718415
        y: 561.4219808693239
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: start with
            id: b32e84b0-80fd-4523-8298-6a108969cfa5
            value: 案例：
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: or
        - case_id: acc47a23-5bbf-4c02-bc40-f1fae4527a9b
          conditions:
          - comparison_operator: start with
            id: d20d2c41-fa37-44e6-9028-ca97975939ed
            value: 法条：
            varType: string
            variable_selector:
            - sys
            - query
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 173
      id: '1747372792101'
      position:
        x: 334
        y: 286.5
      positionAbsolute:
        x: 334
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(query: str) -> dict:\n    return {\n        \"retrieval_query\"\
          : query.lstrip(\"案例：\")\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          retrieval_query:
            children: null
            type: string
        selected: false
        title: 移除前缀“案例：”
        type: code
        variables:
        - value_selector:
          - sys
          - query
          variable: query
      height: 53
      id: '1747373305245'
      position:
        x: 638
        y: 286.5
      positionAbsolute:
        x: 638
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: t9k
        desc: ''
        height: 103
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":4,"mode":"normal","style":"font-size:
          16px;","text":"意图识别","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":4,"textStyle":"font-size:
          16px;"},{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"条件分支","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textStyle":"font-size:
          16px;","textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1,"textFormat":4,"textStyle":"font-size:
          16px;"}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 103
      id: '1747374462345'
      position:
        x: 334
        y: 4.329993920769311
      positionAbsolute:
        x: 334
        y: 4.329993920769311
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: t9k
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          16px;","text":"LLM or Agent","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textStyle":"font-size:
          16px;","textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1,"textStyle":"font-size:
          16px;"}}'
        theme: blue
        title: ' (1)'
        type: ''
        width: 240
      height: 88
      id: '17473745020590'
      position:
        x: 643.949897980104
        y: 753.0683646390997
      positionAbsolute:
        x: 643.949897980104
        y: 753.0683646390997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        code: "\ndef main(query: str) -> dict:\n    return {\n        \"retrieval_query\"\
          : query.lstrip(\"法条：\")\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          retrieval_query:
            children: null
            type: string
        selected: false
        title: '移除前缀“法条：” '
        type: code
        variables:
        - value_selector:
          - sys
          - query
          variable: query
      height: 53
      id: '17476442132060'
      position:
        x: 638
        y: 415.4554079884384
      positionAbsolute:
        x: 638
        y: 415.4554079884384
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - bbdKkdFeqieu6ODv2nzuSSR+Evi+ck5DT6QdTbRorcoXpxw3OmFFj9E2xabfIKor
        desc: ''
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: bge-reranker-v2-m3
            provider: langgenius/openai_api_compatible/openai_api_compatible
          score_threshold: null
          top_k: 5
        query_variable_selector:
        - '17476442132060'
        - retrieval_query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: Doubao-Pro-32k
            provider: volcengine_maas
        title: 检索法条
        type: knowledge-retrieval
      height: 91
      id: '17476442798000'
      position:
        x: 942
        y: 424.64569498916114
      positionAbsolute:
        x: 942
        y: 424.64569498916114
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(hits) -> dict:\n    import json\n\n    formatted_provisions\
          \ = []\n    \n    for i, hit in enumerate(hits, 1):\n        content = hit[\"\
          content\"]\n        \n        # Split content into text and JSON metadata\n\
          \        parts = content.split('\\n\\n', 1)  # Split only once to handle\
          \ cases with multiple newlines in content\n        provision_text = parts[0].strip()\n\
          \        json_str = parts[1].strip() if len(parts) > 1 else \"\"\n     \
          \   \n        # Parse JSON\n        try:\n            metadata = json.loads(json_str)\n\
          \            law = metadata.get(\"law\", \"未知\")\n            part = metadata.get(\"\
          part\", \"未知\")\n            chapter = metadata.get(\"chapter\", \"未知\"\
          )\n            section = metadata.get(\"section\", \"未知\")\n           \
          \ article = metadata.get(\"article\", \"未知\")\n            \n          \
          \  # Format the provision\n            provision_formatted = (\n       \
          \         f\"**法律条文 {i}**\\n\"\n                f\"{law}\\n\"\n        \
          \        f\"{part}\\n\"\n                f\"{chapter}\\n\"\n           \
          \     f\"{section}\\n\\n\"\n                f\"{provision_text}\"\n    \
          \        )\n            \n        except json.JSONDecodeError:\n       \
          \     # Fallback format if JSON parsing fails\n            provision_formatted\
          \ = (\n                f\"**法律条文 {i}**\\n\"\n                f\"原始内容：\\\
          n{provision_text}\"\n            )\n            if json_str:\n         \
          \       provision_formatted += f\"\\n元数据（原始JSON）：\\n{json_str}\"\n     \
          \       \n        formatted_provisions.append(provision_formatted)\n   \
          \ \n    context = \"\\n\\n\".join(formatted_provisions)\n    return {\"\
          result\": context}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 排版法条信息
        type: code
        variables:
        - value_selector:
          - '17476442798000'
          - result
          variable: hits
      height: 53
      id: '17476442947240'
      position:
        x: 1246
        y: 424.64569498916114
      positionAbsolute:
        x: 1246
        y: 424.64569498916114
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '检索到如下法条：


          {{#17476442947240.result#}}'
        desc: ''
        selected: false
        title: 返回法条信息
        type: answer
        variables: []
      height: 121
      id: '17476443706710'
      position:
        x: 1550
        y: 424.64569498916114
      positionAbsolute:
        x: 1550
        y: 424.64569498916114
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 75.71870331511286
      y: 45.59956299020939
      zoom: 0.6441313565986702
